<script setup lang="ts">
import ProductEditForm from "@/components/products/ProductEditForm.vue";
import Modal from "@/components/base/Modal.vue";

import { useStore } from "@/store";
import { reactive, ref, defineExpose } from "vue";
import type IProduct from "@/models/Product";

const store = useStore();
const state = reactive({
  showModal: false,
});
const createForm = ref<InstanceType<typeof ProductEditForm> | null>(null);
const createdProductForm: Partial<IProduct> = {
  id: 0,
  name: "",
  price: 0,
  quantity: 0,
};

const showModal = () => (state.showModal = true);
const hideModal = () => (state.showModal = false);

const onSave = async () => {
  await createForm.value?.saveProduct();
  await store.refreshList();
  hideModal();
};

defineExpose({
  showModal,
});
</script>

<template>
  <Modal
    title="Create product"
    :is-active="state.showModal"
    :width="'20rem'"
    @close="hideModal"
    @success="onSave"
  >
    <ProductEditForm ref="createForm" :product="createdProductForm" />
  </Modal>
</template>
