<script setup lang="ts">
import ProductEditForm from "@/components/products/ProductEditForm.vue";
import Modal from "@/components/base/Modal.vue";
import type IProduct from "@/models/Product";
import { useStore } from "@/store";
import { reactive, ref } from "vue";

const props = defineProps<{
  product: IProduct;
}>();

const store = useStore();
const state = reactive({
  showModal: false,
});
const editForm = ref<InstanceType<typeof ProductEditForm> | null>(null);

const showEditModal = () => (state.showModal = true);
const hideEditModal = () => (state.showModal = false);
const onSave = async () => {
  await editForm.value?.saveProduct();
  await store.refreshList();
  hideEditModal();
};

const removeProduct = async () => {
  await store.deleteById(props.product.id);
  store.refreshList();
};
</script>

<template>
  <div @click="showEditModal" class="product-item">
    <div class="media product-item-content">
      <div class="media-left">
        <figure class="image is-48x48">
          <img v-if="product.image" :src="product.image" :alt="product.name" />
          <font-awesome-icon v-else icon="image" class="has-height-100" />
        </figure>
      </div>
      <div class="media-content">
        <div>Name: {{ product.name }}</div>
        <div>Price: {{ product.price }}</div>
        <div>Quantity: {{ product.quantity }}</div>
      </div>
    </div>
    <div>
      <font-awesome-icon
        icon="trash"
        class="delete-icon"
        @click="removeProduct"
      />
    </div>
  </div>

  <Modal
    title="Edit product"
    :is-active="state.showModal"
    :width="'20rem'"
    @close="hideEditModal"
    @success="onSave"
  >
    <ProductEditForm ref="editForm" :product="product" />
  </Modal>
</template>

<style scoped lang="scss">
.product-item {
  display: flex;

  .product-item-content {
    flex: 1;
  }
  .delete-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-danger);
  }
}
</style>
