<script lang="ts">
import type IProduct from "@/models/Product";
import { useStore } from "@/store";
import { defineComponent, type PropType, defineExpose, reactive } from "vue";

export default defineComponent({
  props: {
    product: {
      type: Object as PropType<Partial<IProduct>>,
      required: true,
    },
  },
  setup(props) {
    const store = useStore();
    const form = reactive({ ...props.product });

    const saveProduct = () => {
      return form.id
        ? store.update({ id: form.id, data: form })
        : store.create({ data: form });
    };

    return { form, saveProduct };
  },
});
</script>

<template>
  <p>
    <label class="label" for="name">Name</label>
  </p>
  <input v-model="form.name" name="name" class="input" placeholder="Example" />

  <p>
    <label class="label" for="quantity">Quantity</label>
  </p>
  <input
    v-model="form.quantity"
    name="quantity"
    type="number"
    class="input"
    min="0"
    placeholder="1"
  />

  <p>
    <label class="label" for="price">Price</label>
  </p>
  <input
    v-model="form.price"
    name="price"
    type="number"
    step="1"
    min="0"
    class="input"
    placeholder="10"
  />

  <p>
    <label class="label" for="price">Image</label>
  </p>
  <input
    v-model="form.image"
    name="price"
    class="input"
    placeholder="Image Url"
  />
</template>
