<script setup lang="ts">
import ProductListItem from "@/components/products/ProductListItem.vue";
import Grid from "@/components/base/Grid.vue";
import GridItem from "@/components/base/GridItem.vue";
import CreateProductModal from "@/components/products/CreateProductModal.vue";
import { useStore } from "@/store";
import { storeToRefs } from "pinia";
import { ref } from "vue";

const store = useStore();
const { products } = storeToRefs(useStore());
const createModal = ref<InstanceType<typeof CreateProductModal> | null>(null);
const openCreateModal = () => createModal?.value?.showModal();
store.fetchProducts();
</script>

<template>
  <h1 class="is-capitalized is-size-1">
    <p class="is-flex is-align-items-center">
      <span>Products</span>
      <button class="button is-success ml-2" @click="openCreateModal">
        Add product
      </button>
    </p>
  </h1>

  <Grid :data="products">
    <template #default="{ item: product }">
      <GridItem>
        <ProductListItem :product="product" />
      </GridItem>
    </template>
  </Grid>

  <CreateProductModal ref="createModal" />
</template>
