<template>
  <span class="wrapper">
    <span class="console">
      <slot></slot>
    </span>
    <span class="cursor"></span>
  </span>
</template>

<style scoped lang="scss">
.console {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  overflow: hidden;
  font-family: monospace;
}

.cursor {
  animation: blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
</style>
