<template>
  <div class="grid-item">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
defineProps({
  minWidth: { type: String, default: "16rem" },
});
</script>

<style scoped lang="scss">
.grid-item {
  background-color: var(--scheme-main);
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  padding: 1rem;
  min-width: v-bind(minWidth);
  box-shadow: 0 4px 8px 0 var(--shadow-color);

  &:hover {
    border-color: var(--color-border-hover);
    box-shadow: 0 8px 16px 0 var(--shadow-color);
    cursor: pointer;
  }
}
</style>
