<template>
  <div class="grid">
    <template v-for="(item, index) in data" :key="index">
      <slot :item="item" :index="index" />
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";

export default defineComponent({
  props: {
    data: { type: Array, required: true },
  },
});
</script>

<style scoped lang="scss">
.grid {
  display: grid;
  grid-gap: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1269px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
