<template>
  <div :class="['modal', { 'is-active': isActive }]">
    <div class="modal-background"></div>
    <div class="modal-card" :style="{ width: width }">
      <header class="modal-card-head">
        <slot name="header">
          <p class="modal-card-title">{{ title }}</p>
          <button
            class="delete"
            aria-label="close"
            @click="$emit('close')"
          ></button>
        </slot>
      </header>
      <section class="modal-card-body">
        <slot></slot>
      </section>
      <footer class="modal-card-foot">
        <slot name="footer">
          <button class="button is-success" @click="$emit('success')">
            {{ successLabel }}
          </button>
          <button class="button" @click="$emit('close')">
            {{ cancelLabel }}
          </button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  title: { type: String, required: true },
  isActive: { type: Boolean, default: false },
  successLabel: { type: String, default: "Save" },
  cancelLabel: { type: String, default: "Close" },
  width: { type: String },
});
</script>
