<script setup lang="ts">
import { useStore } from "@/store/index";
import { storeToRefs } from "pinia";
import Grid from "@/components/base/Grid.vue";
import GridItem from "@/components/base/GridItem.vue";

const store = useStore();
const { denominations, formatter } = storeToRefs(useStore());
const insertCoin = (denomination: number) => store.insertCoin(denomination);
</script>

<template>
  <Grid :data="denominations" class="mt-6">
    <template #default="{ item: denomination }">
      <GridItem @click="insertCoin(denomination)">
        <p class="has-text-centered">
          <font-awesome-icon icon="coins" class="has-text-warning" />
          {{ formatter.format(denomination) }}
        </p>
      </GridItem>
    </template>
  </Grid>
</template>
