<script setup lang="ts">
import { computed } from "vue";
import { useStore } from "@/store/index";
import { storeToRefs } from "pinia";

const store = useStore();
store.fetchProducts();

const { change, formatter, insertedTotal } = storeToRefs(useStore());
const insertedCoins = store.insertedCoins;

/** Inserted coins text */
const insertedCoinsText = computed(() =>
  (insertedCoins.length ? insertedCoins : [0])
    .map((i) => formatter.value.format(i))
    .join()
);
/** Change to return as text */
const changeText = computed(() =>
  (change.value.length ? change.value : [0])
    .map((i) => formatter.value.format(i))
    .join()
);

const returnCoins = () => store.returnCoins();
</script>

<template>
  <div class="mb-6 card p-5">
    <div
      class="is-flex is-justify-content-space-between is-flex-wrap-wrap has-gap-075"
    >
      <div>
        <span>Inserted coins: </span>
        <strong>
          {{ insertedCoinsText }}
        </strong>
        <p>
          Total: <strong>{{ formatter.format(insertedTotal) }}</strong>
        </p>
        <p>
          Change: <strong>{{ changeText }}</strong>
        </p>
      </div>
      <button class="button is-warning" @click="returnCoins">
        <span class="icon is-small">
          <font-awesome-icon icon="rotate-right" />
        </span>

        <span>Reset</span>
      </button>
    </div>
  </div>
</template>
