<script setup lang="ts">
import type IProduct from "@/models/Product";
import { useStore } from "@/store/index";
import { storeToRefs } from "pinia";
import Grid from "@/components/base/Grid.vue";
import GridItem from "@/components/base/GridItem.vue";

const store = useStore();
const { products, formatter } = storeToRefs(useStore());
const orderProduct = async (product: IProduct) => {
  if (!product.quantity) return;
  await store.orderProduct(product);
  store.refreshList();
};
</script>

<template>
  <Grid :data="products">
    <template #default="{ item: product }">
      <GridItem @click="orderProduct(product)">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                v-if="product.image"
                :src="product.image"
                :alt="product.name"
              />
              <font-awesome-icon v-else icon="image" class="has-height-100" />
            </figure>
          </div>
          <div class="media-content">
            <p class="is-4" v-if="product.quantity <= 0">
              <strong class="has-text-danger">Out of stock</strong>
            </p>
            <p class="title is-4">{{ product.name }}</p>
            <p class="subtitle is-6">
              <span class="mr-1">Price:</span>
              <strong>
                {{ formatter.format(product.price) }}
              </strong>
            </p>
          </div>
        </div>
      </GridItem>
    </template>
  </Grid>
</template>
