<script setup lang="ts">
import { useStore } from "@/store/index";
import { storeToRefs } from "pinia";
import CrtScreen from "@/components/base/CrtScreen.vue";
import ConsoleText from "@/components/base/ConsoleText.vue";
import ProductSelection from "@/components/machine/ProductSelection.vue";
import DenominationSelection from "@/components/machine/DenominationSelection.vue";
import InfoAndReset from "@/components/machine/InfoAndReset.vue";

const store = useStore();
const { crtScreenMessage } = storeToRefs(useStore());
store.fetchProducts();
</script>

<template>
  <div>
    <h1 class="is-size-1 has-text-centered is-capitalized">The machine</h1>
    <InfoAndReset />
    <CrtScreen class="mb-6">
      <span class="has-text-green">#:</span>
      <ConsoleText class="ml-2 has-text-neon">{{
        crtScreenMessage
      }}</ConsoleText>
    </CrtScreen>
    <ProductSelection />
    <DenominationSelection />
  </div>
</template>
