@charset "utf-8";
@import "./base.scss";

#app {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.has-text-green {
  color: hsla(160, 100%, 37%, 1);
}

.has-text-neon {
  color: #10ff2a;
}

.has-height-100 {
  height: 100%;
}

.has-gap-075 {
  gap: 0.75rem;
}

.v-input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  display: inline-flex;
  line-height: 1.5;
  background-color: var(--color-background);
  border-color: var(--color-border);
  color: var(--color-text);
  width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
